.o_eclaim_finance_dashboard {
    flex: 1 0 100%;
    padding: 10px 10px 18px 10px;

    background-color: $o-view-background-color;
    position: relative;
    max-width:100%;

    .row {
        margin-right: 0;
        margin-left: 0;
    }

    .o_dashboard_action {
        cursor: pointer;
    }
    
    .table {
        margin-bottom: 0;
        table-layout: fixed;
        border-spacing: 10px 0px;
        border-collapse: separate;
        font-size: 13px;

        > thead, tbody {
            & > tr > td {
                text-align: center;
                width: 25%;
                height: 33px;
                vertical-align: middle;
                
                &.o_text{
                    background-color: $o-view-background-color;
                }

                > a:hover {
                    text-decoration: none;
                }


                &.o_main {
                    background-color: $brand-secondary;
                    &:hover {
                        background-color: darken($brand-secondary, 10%);
                    }
                    > a {
                        color: white;
                    }
                }

                &.o_main_call {
                    background-color: #ffffff;
                    &:hover {
                        background-color: darken(#ffffff, 10%);
                    }
                    > a {
                        color: rgb(0, 0, 0);
                    }
                    > table > tbody > tr > td {
                        // &.o_image {
                        //     width:30%;
                        // }
                        &.o_remarks {
                            width:70%;
                            text-align: left;font-size: 18px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}

.o_finance_column {
    &.o_list_view{
        div {
            &.table-responsive {
                table {
                    &.o_list_table {
                        thead {
                            tr {
                                th[data-name="claim_number"]
                                {
                                    max-width:none !important;
                                    width: 120px !important;
                                }

                                th[data-name="batch_id"]
                                {
                                    max-width:none !important;
                                    width: 120px !important;
                                }

                                th[data-name="name"]
                                {
                                    max-width:none !important;
                                    width: 150px !important;
                                }

                                th[data-name="client_id"]
                                {
                                    max-width:none !important;
                                    width: 300px !important;
                                }

                                th[data-name="provider_id"]
                                {
                                    max-width:none !important;
                                    width: 300px !important;
                                }

                                th[data-name="claim_status"]
                                {
                                    max-width:none !important;
                                    width: 100px !important;
                                }


                                th[data-name="so_number"]
                                {
                                    max-width:none !important;
                                    width: 150px !important;
                                    color:#0a8ea4;
                                }

                                th[data-name="pr_number"]
                                {
                                    max-width:none !important;
                                    width: 200px !important;
                                    color:#0a8ea4;
                                }

                                th[data-name="so_pr_date"]
                                {
                                    max-width:none !important;
                                    width: 150px !important;
                                    color:#0a8ea4;
                                }


                                th[data-name="ar_number"]
                                {
                                    max-width:none !important;
                                    width: 200px !important;
                                    color:#c52231;
                                }
                                th[data-name="ar_remarks"]
                                {
                                    max-width:none !important;
                                    width: 200px !important;
                                    color:#c52231;
                                }


                                th[data-name="po_number"]
                                {
                                    max-width:none !important;
                                    width: 200px !important;
                                    color:#199535;
                                }
                                th[data-name="po_remarks"]
                                {
                                    max-width:none !important;
                                    width: 200px !important;
                                    color:#199535;
                                }


                                th[data-name="ap_number"]
                                {
                                    max-width:none !important;
                                    width: 200px !important;
                                    color:#dca500;
                                }
                                th[data-name="ap_remarks"]
                                {
                                    max-width:none !important;
                                    width: 200px !important;
                                    color:#dca500;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}